# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\workspace\idea\test\springCloud-YUANMA\springcloud-demo\chapter03 -- hello-cloud\parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
